@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Mitr:200,300,400,500,600,700&display=swap');

body {
    font-family: 'Mitr', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
}/*
.details-container {
    float: left;
    width: 560px;
}*/

.intro {
    width: 100%;
    height: 200px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
}
.intro h1 {
    color: #fff;
    font-size: 5em;
}

.description {
    width: 100%;
    height: 100px;
    background-color: #27ae60;
    display: flex;
    align-items: center;
}
.description p {
    font-size: 1.3em;
    padding-left: em;
}

.download-page {
    background-color: #34495e;
    width: 100%;
    height: auto;
}

.big-details {
    text-align: center;
}
.big-details img {
    width: 50%;
}

.big p,
.small-items p {
    color: #fff;
    font-size: 1.2em;
    padding: 1em 0;
}

.big-details {
    border: 2px solid #bdc3c7;
    margin: 0 auto;
    padding: 1.5em;
}
.waw-small {
    margin-top: 2em; 
    padding-bottom: 3em;
}
.small-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}
.small {
    border: 2px solid #bdc3c7;
}
.small-items img {
    width: 100%;
}
.small-items p {
    text-align: center;
    padding-bottom: 1.5em;
}

@media only screen and (max-width: 960px) {
    .intro h1 {
        font-size: 3em;
    }
    .description p {
        text-align: center;
        font-size: 1.5em;
    }

    .big p {
        padding: 1.1em 1em 0.2em 1em;
    }
    .big-details {
        padding: 0.2em;
        margin: 0 3em;
    }
    .big-details img {
        width: 100%;
    }

    .small-container {
        grid-template-columns: 1fr;
    }
    .small {
        margin: 1em;
    }
}